.app {
  padding: 50px;
}

/* .bgImages {
  position: relative;
}

.bg1 {
  position: absolute;
  background-image: url('./assets/Images/Illustration1.png');
}

.bg2 {
  position: absolute;
  background-image: url('./assets/Images/Illustration2.png');
}

.bg3 {
  position: absolute;
  background-image: url('./assets/Images/Illustration3.png');
}

.bg4 {
  position: absolute;
  background-image: url('./assets/Images/Illustration4.png');
}

.bg5 {
  position: absolute;
  background-image: url('./assets/Images/Illustration5.png');
} */
